<div class="sticky-top">

  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">

      <a class="navbar-brand mx-2" routerLink="/">
        <img src="/assets/muji.png" style="width: 12rem;" alt="MUJI">
      </a>

      <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container-fluid p-2">
        <div>
          <input type="search" [(ngModel)]="search" class="form-control" placeholder="Search a product">
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-2 text-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="/catalog">Catalog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/wishlist">Wish</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" routerLink="/profile">Profile</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

  <div *ngIf=" search != ''">
    <div *ngFor="let product of products | arrayFilter:search:'slug' ">
      <div>
        <button type="button" (click)="onGoProduct(product.category, product.slug)" class="d-flex btn btn-light col-12 align-items-center">
          <img [src]="'/assets/products/' + product.category + '/' + product.image" [alt]="product.name" class="img-fluid" style="width: 6rem;">
          <div class="d-flex justify-content-evenly">
            <p class="text-secondary px-3"> {{ product.name }} </p>
            <p class="text-secondray"> {{ product.price }} </p>
          </div>
        </button>
      </div>
    </div>
  </div>

</div>

