<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand mx-2" routerLink="/"> <img src="/assets/muji.png" style="width: 12rem;" alt="MUJI"></a>

    <button class="navbar-toggler mx-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container-fluid p-2">
      <ng-autocomplete
        #searchbar
        [data] = "products"
        [searchKeyword] = "keyword"
        [itemTemplate] = "itemTemplate"
        [notFoundTemplate] = "notFoundTemplate"
        placeholder = "Search"
        >
      </ng-autocomplete>

      <ng-template #itemTemplate let-item>
        <a [routerLink]="'/' + item.category + '/' + item.slug">

          <div class="d-flex">
            <div>
              <img [src]="'/assets/products/' + item.category + '/' + item.image" [alt]="item.name" width="60rem">
            </div>
            <div class="d-flex flex-direction-column">
              <p>{{ item.name }}</p>
            </div>
          </div>

        </a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>

    </div>

    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="navbar-nav mx-2 text-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalog">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/wishlist">Wish</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="/profile">Profile</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

