<div class="container-fluid">
  <div class="row text-center">

    <div class="col-12 pt-3">
      <h6>Socials</h6>
    </div>

    <div class="col-12 social">
      <a href="https://www.instagram.com/mujiitaly/" target="_blank" class="text-decoration-none text-secondary px-2">Instagram</a>
      <a href="https://www.facebook.com/mujiitaly/" target="_blank" class="text-decoration-none text-secondary px-2">Facebook</a>
      <a href="https://twitter.com/mujiusa" target="_blank" class="text-decoration-none text-secondary px-2">Twitter</a>
    </div>

  </div>
</div>

<div class="container">
  <footer class="p-2 my-4 border-top">
    <p class="text-center text-muted">© 2022 Muji — <a href="https://www.linkedin.com/in/jimwellf/" class="text-decoration-none text-secondary" target="_blank">@</a></p>
  </footer>
</div>
