<!-- connect -->
<div class="container-fluid p-2">
  <div class="row text-center p-2">

    <div class="col-12">
      <h5>Socials</h5>
    </div>

    <div class="col-12 social">
      <a href="https://www.instagram.com/mujiitaly/" target="_blank" class="text-decoration-none text-secondary p-2">Instagram</a>
      <a href="https://www.facebook.com/mujiitaly/" target="_blank" class="text-decoration-none text-secondary p-2">Facebook</a>
      <a href="https://twitter.com/mujiusa" target="_blank" class="text-decoration-none text-secondary p-2">Twitter</a>
    </div>

  </div>
</div>

<div class="container">
  <footer class="py-2 my-4 border-top">
    <p class="text-center text-muted">© 2022 Muji — Ell</p>
  </footer>
</div>
