<div class="container">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let product of products | productFilter:productCategory">
          <div class="card">
            <div class="image-wrapper">
              <a routerLink="/catalog">
                <img [src]="'/assets/products/' + product.category + '/' + product.image" [alt]="product.name">
              </a>
            </div>

            <div class="card-body">
              <a [routerLink]="'/' + product.category + '/' + product.slug" class="text-decoration-none text-secondary">
                <p>{{ product.name }}</p>
              </a>
              <p> {{ product.price }} </p>
            </div>
          </div>

        </ng-template>

      </ngb-carousel>

</div>
