<div class="container-fluid my-1">
  <div class="d-flex flex-wrap">

      <div class="card-wrapper">
        <a routerLink="/clothing" class="text-decoration-none">
          <div class="card">
            <div class="card-body card-img-overlay">
              <h1 class="ms-3">Clothing</h1>
            </div>
            <div class="image-wrapper">
              <img src="/assets/catalog/clothing.png" alt="Clothing">
            </div>
          </div>
        </a>
      </div>

      <div class="card-wrapper">
        <a routerLink="/home" class="text-decoration-none">
          <div class="card">
            <div class="card-body card-img-overlay">
              <h1 class="ms-3">Home</h1>
            </div>
            <div class="image-wrapper">
              <img src="/assets/catalog/home.png" alt="Home">
            </div>
          </div>
        </a>
      </div>

      <div class="card-wrapper">
        <a routerLink="/stationary" class="text-decoration-none">
          <div class="card">
            <div class="card-body card-img-overlay">
              <h1 class="ms-3">Stationary</h1>
            </div>
            <div class="image-wrapper">
              <img src="/assets/catalog/stationary.png" alt="Stationary">
            </div>
          </div>
        </a>
      </div>

      <div class="card-wrapper">
        <!-- <a routerLink="/coming-soon" class="text-decoration-none"> -->
          <div class="card">
            <div class="card-body card-img-overlay">
              <h1 class="ms-3">Others</h1>
            </div>
            <div class="image-wrapper">
              <img src="/assets/catalog/clothing.png" alt="Others">
            </div>
          </div>
        <!-- </a> -->
      </div>

  </div>
</div>


