<div class="container">
  <div class="row">

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <p class="text-secondary">Women</p>
          <p class="card-text">18</p>
        </div>
        <img src="/assets/products/underbd.jpg" alt="underbd">
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <p class="text-secondary">Women</p>
          <p class="card-text">18</p>
        </div>
        <img src="/assets/products/underbd.jpg" alt="underbd">
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <p class="text-secondary">Women</p>
          <p class="card-text">18</p>
        </div>
        <img src="/assets/products/underbd.jpg" alt="underbd">
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <p class="text-secondary">Women</p>
          <p class="card-text">18</p>
        </div>
        <img src="/assets/products/underbd.jpg" alt="underbd">
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body d-flex justify-content-between">
          <p class="text-secondary">Women</p>
          <p class="card-text">18</p>
        </div>
        <img src="/assets/products/underbd.jpg" alt="underbd">
      </div>
    </div>

  </div>
</div>
