<div id="secondslides" class="carousel carousel-dark carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="card-wrapper">
        <div class="card">
          <div class="image-wrapper">
            <a routerLink="/catalog" ><img src="/assets/products/labo-wool-cardigan.jpg" alt="..."> </a>
          </div>
          <div class="card-body">
            <a routerLink="/catalog" class="text-decorastion-none text-secondary"><p>Labo Wool Cardigan</p></a>
            <p>€ 80.00</p>
          </div>
        </div>

  </div>
