<div class="container-fluid">

  <div class="row d-flex justify-content-center pt-5">

    <div class="col-md-5">
      <div id="productImg" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <div class="carousel-inner">

          <div class="carousel-item active">
            <img [src]="'/assets/products/'+ product?.category + '/' + product?.image" [alt]="product?.name" class="img-fluid">
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#productImg" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productImg" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>

    <div class="col-md-4 d-flex align-items-center">
        <div>
          <h5 class="mt-5"> {{ product?.name }}</h5>
          <p class="text-secondary"> {{ product?.description }}</p>
          <p class="text-secondary my-5"> {{ product?.price }} €</p>

          <div class="d-flex mb-3">
            <button class="btn btn-outline-secondary m-1" data-bs-toggle="modal" data-bs-target="#addWish" (click)="onAddWish()">Add Wishlist</button>
            <button class="btn btn-outline-secondary m-1" data-bs-toggle="modal" data-bs-target="#addCart" (click)="onAddCart()">Add Cart</button>
          </div>

        </div>
    </div>

    <div class="modal fade" id="addWish" tabindex="-1" aria-labelledby="addWish" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-center">
            <h5 class="modal-title" id="payment">Success!</h5>
          </div>

          <div class="modal-body text-center">
            The product has been added to your Wishlist.
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-secondary outline-dark" data-bs-dismiss="modal" routerLink="/">Home</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Confirm</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/wishlist">Wishlist</button>
          </div>
        </div>
      </div>

    </div>

    <div class="modal fade" id="addCart" tabindex="-1" aria-labelledby="addCart" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-center">
            <h5 class="modal-title" id="payment">Success!</h5>
          </div>

          <div class="modal-body text-center">
            The product has been added to your Cart.
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-secondary outline-dark" data-bs-dismiss="modal" routerLink="/">Home</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Confirm</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/cart">Cart</button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
