<!-- first carousel -->
<div id="firstslides" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#firstslides" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#firstslides" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#firstslides" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>


  <div class="carousel-inner">

    <a routerLink="/clothing">
      <div class="carousel-item active">
        <img src="/assets/carousel/clothing.png"  alt="Clothing">
        <div class="carousel-caption">
          <h1>Clothing</h1>
          <h5>Reduced to a useful minimum.</h5>
        </div>
      </div>
    </a>

    <a routerLink="/home">
      <div class="carousel-item">
        <img src="/assets/carousel/home.png" alt="Home">
        <div class="carousel-caption">
          <h1>Home</h1>
          <h5>Upgrade your home.</h5>
        </div>
      </div>
    </a>

    <a routerLink="/stationary">
      <div class="carousel-item">
        <img src="/assets/carousel/stationary.png" alt="Stationary">
        <div class="carousel-caption">
          <h1>Stationary</h1>
          <h5>More than just stationery.</h5>
        </div>
      </div>
    </a>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#firstslides" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#firstslides" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>

<!-- jumbotron -->
<div class="container-fluid py-5">

  <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
      <p class="lead mx-2">Explore our products catalog. <br> Shop the perfect seasonal layering essentials.</p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
      <a routerLink="/catalog"> <button type="button" class="btn btn-outline-secondary btn-lg">Shop now</button> </a>
    </div>
  </div>

</div>

<!-- products list -->
<div class="container py-2">
  <div>
    <div class="product-card-wrapper d-flex flex-wrap">

      <div class="product-card p-2" *ngFor="let product of products">

        <div class="product-card-img-wrapper">
          <a [routerLink]="'/' + product.category + '/' + product.slug" class="text-decoration-none text-secondary">
            <img [src]="'/assets/products/' + product.category + '/' + product.image" [alt]="product.name" class="img-fluid">
          </a>
        </div>

        <div class="product-card-body">
          <a [routerLink]="'/' + product.category + '/' + product.slug" class="text-decoration-none text-secondary">
            <h5 class="mx-5"> {{ product.name }} </h5>
          </a>
          <p class="mx-5 pb-1 text-secondary">€ {{ product.price }} </p>
        </div>

        <div class="d-flex justify-content-center mb-3">
          <button class="btn btn-outline-secondary m-1" data-bs-toggle="modal" data-bs-target="#addWish" (click)="onAddWish(product)">Add Wishlist</button>
          <button class="btn btn-outline-secondary m-1" data-bs-toggle="modal" data-bs-target="#addCart" (click)="onAddCart(product)">Add Cart</button>
        </div>

      </div>

      <div class="modal fade" id="addWish" tabindex="-1" aria-labelledby="addWish" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
              <h5 class="modal-title" id="payment">Success!</h5>
            </div>

            <div class="modal-body text-center">
              The product has been added to your Wishlist.
            </div>

            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-secondary outline-dark" data-bs-dismiss="modal" routerLink="/">Home</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/wishlist">Wishlist</button>
            </div>
          </div>
        </div>

      </div>

      <div class="modal fade" id="addCart" tabindex="-1" aria-labelledby="addCart" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
              <h5 class="modal-title" id="payment">Success!</h5>
            </div>

            <div class="modal-body text-center">
              The product has been added to your Cart.
            </div>

            <div class="modal-footer d-flex justify-content-center">
              <button type="button" class="btn btn-secondary outline-dark" data-bs-dismiss="modal" routerLink="/">Home</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Confirm</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" routerLink="/cart">Cart</button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
